/* ======================= GENERAL ===================
   =================================================== */

body {
    background-color: #3A2B27;
    padding: 7px;
}

header {
    background-image: url(../elements/header-bg2.png);
    margin: 0px auto;
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
}

header img {
    display: block;
    margin: 0 auto;
    width: 50%;
}

.img-hover {
    width: 100%;
/*
    margin-top: 15px;
*/
    color: #EAE4DC;
    height: 600px;
    position: relative;
}

.img-hover h2 {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 1.45em;
    color: #EAE4DC;
}

.img-hover h4 {
    text-transform: capitalize;
    font-weight: lighter;
    font-size: 1.3em;
    margin-top: 0px;
    max-width: 70%;
    margin: 0 auto;
    line-height: 30px;
    color: #EAE4DC;
}

.img-hover img {
    width: 50%;
    margin-top: 60px;
}

.section-small {
    height: 350px;
    float: none;
}

.present {
    background-color: #EF3E27;
    text-align: center;
    font-family: "Montserrat";
    color: #EAE4DC;
    padding: 75px 200px 75px 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    border-top: 15px solid #3A2B27;
}

form {
    font-family: "Montserrat";
    color: #EAE4DC;
    font-size: 1em;
    display: block;
    margin-bottom: 500px;
}


form div {
    width: 50%;
    float: left;
}

form h2 {
    padding-top: 75px;
    font-size: 25px;
    width: 60%;
    margin: 0 auto;
}

input,
label {
    display: block;
    width: 60%;
    margin: 0 auto;
    height: 50px;
    border-radius: 8px;
    border: none;
}

input {
    background-color: #EAE4DC;
    width: 56%;
    padding-left: 15px;
    padding-right: 15px;
}

label {
    height: 100%;
    margin-bottom: 10px;
    margin-top: 30px;
}

textarea {
    display: block;
    width: 80%;
    margin: 0;
    border-radius: 8px;
    border: none;
    background-color: #EAE4DC;
    padding: 15px;
}

.textarea label {
    width: 100%;
    margin-top: 130px;
}

input:focus, textarea:focus {
    background-color: white;
    outline: 0;
}
button {
    height: 60px;
    width: 22%;
    margin-top: 20px;
    font-family: "Montserrat";
    font-size: 1.2em;
    color: #EAE4DC;
    background-color: #EF3E27;
    border: none;
    text-transform: uppercase;
    margin-bottom: 75px;
    border-bottom: 5px solid #D32610;
    cursor: pointer;
}

button:hover {
    background-color: #D32610;
}

footer {
    display: block;
    width: 100%;
    height: 175px;
    background-color: #221316;
    bottom: 0;
}

footer div {
    width: 50%;
    float: left;
    padding-top: 4%;
}

i {
    padding: 10px;
    color: #EAE4DC;
    cursor: pointer;
}

i:hover {
    transition: 0.5s;
    color: #EF3E27;
}

.fa-twitter {
     margin-left: 100px;   
}

footer a {
    text-decoration: none;
    color: #EAE4DC;
    font-size: 1.2em;
    font-family: "Montserrat";
}

footer a:hover {
    color: #ef3e27;
    transition: 0.5s;
}

footer p {
    font-size: 1.2em;
    font-family: "Montserrat";
    border-top: 5px solid #EF3E27;
    padding-top: 20px;
    margin-top: 20px;
    color: #EAE4DC;
    width: 75%;
}


/* ======================== IMG ======================
   =================================================== */

.blind-dog {
    background-image: url(../elements/blind-dog-thumb.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;
    height: 100%;
    position: relative;
    cursor: pointer;
    float: left;
}

.track29 {
    background-image: url(../elements/track29-thumb.jpg);
}

.temperate {
    background-image: url(../elements/temperate-thumb.jpg);
}

.horizon {
    background-image: url(../elements/horizon-thumb.jpg);
}

.bitter-alibi {
    background-image: url(../elements/bitter-thumb.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 33.33%;
    height: 100%;
    position: relative;
    cursor: pointer;
    float: left;
}

.rococo {
    background-image: url(../elements/rococo-thumb.jpg);
}

.rino {
    background-image: url(../elements/fancyrhino-thumb.jpg);
}


/* ======================= HOVER =====================
   =================================================== */

.hover {
    background: -moz-radial-gradient(center, ellipse cover, rgba(45, 45, 41, 0.9) 0%, rgba(0, 0, 0, 0.9) 65%);
    /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(45, 45, 41, 0.9) 0%, rgba(0, 0, 0, 0.9) 65%);
    /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(45, 45, 41, 0.9) 0%, rgba(0, 0, 0, 0.9) 75%);
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    font-family: "Montserrat";
    opacity: 0;
}

.hover:hover {
    opacity: 1;
    transition: 0.5s;
}

.hover-small {
    background: -moz-radial-gradient(center, ellipse cover, rgba(45, 45, 41, 0.9) 0%, rgba(0, 0, 0, 0.9) 75%);
    /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(45, 45, 41, 0.9) 0%, rgba(0, 0, 0, 0.9) 75%);
    /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(45, 45, 41, 0.9) 0%, rgba(0, 0, 0, 0.9) 75%);
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    font-family: "Montserrat";
    opacity: 0;
}

.hover-small:hover {
    opacity: 1;
    transition: 0.5s;
}